<form (ngSubmit)="reset(password,cpass)" #resetForm="ngForm">
    <div class="container">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          [value]="mail"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          id="pass"
          name="pass"
          [(ngModel)]="password"
          #pass="ngModel"
          placeholder="Enter Password"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">COnfirm Password</label>
        <input
          type="text"
          class="form-control"
          id="confirmpass"
          name="confirmpass"
          [(ngModel)]="cpass"
          #confirmpass="ngModel"
          placeholder="Confrim Password"
        />
      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-primary" >Reset</button>
        </div>
    </div>
</form>